#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;


}
.navbar {
  font-family: "Kode Mono", monospace;
  display: flex;
  justify-content: center;
}
.title {
  font-family: "Kode Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #49514d;
}
.home-h2_titile{
  padding-top: 50px;
  color: rgb(98, 162, 186);
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
}

.titlediv {
  padding-top: 20px;
}
.calender_container{
  font-family: "Kode Mono", monospace;
  width: 600px;
  border: 1px solid#f8a13a;
  margin-top: 150px;
  margin-bottom: 30px;
  padding: 20px;
    margin-left: auto;
      margin-right: auto;

}
.activity-title{
  padding-bottom: 15px;
  color:#f8a13a ;
}
.recent-entry-container {
  padding: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom : 70px;
}
.form-container {
  background-color:#b9b087; 
  padding: 3%;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 30px;  
}
.card {
  padding: 2em;
}

.form-group {
  font-family: "Kode Mono", monospace;
  font-weight:200;
  font-style: normal;
  padding-bottom: 20px;
}


.centered-form .form-group {
  display: block;
  margin-bottom: 15px;
  width: 540px;
  margin: 0 auto;
}
.centered-form {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100%;
  /* Optional: Make the container take up the full viewport height */
}
/* Style for placeholder text */
.centered-form textarea {
  width: 100%; 
  align-items: center;
}

.logList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centeredDate{
  text-align: center; /* Center text horizontally */
}
.section{
  margin-top: 150px;
  font-family: "Kode Mono", monospace;
}
.edit-save-btn{
margin-left: 10px;
}
.success_txt{
  color: #f8a13a;
  padding-top: 20px;
}
.notearea::placeholder {
  color: #d4d2d2;
}

.journal-title .LogSingle-link:hover {
  color: #ff0000;
}